body, html {
  background-color: #f99;
  height: 100%;
  margin: 0;
  font-family: Arial;
}

#content{
  height: 100%;
}

#home{
  height: 100%;
}

#greeting{
  font-size: 1em;
  padding: 0;
  margin: 0;
}

input {
  height: 1.5em;
  color: #000;
  background-color: #58a;
  font-size: 2em; 
  border: 1px;
  border-radius: 10px;
  width: 7em;
}

#content > div {
    padding: 6px 12px;
    color: #000;
}

#content > div.active {
    display: block;
}

.door_btn{
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.door_btn img{
  /*! display: inline-block; */
   width: 5em; 
  /*! height: 100px; */
  float: left;
}

.door_btn  button{
  display: inline-block;
  float: left;
  width:6em; 
  height: 4em;
  margin: auto;
  font-size: 1em;
  font-weight: bold;
  background-color: #777;
  border-radius: 10px;
  vertical-align: center;
  margin:auto;
}

.btn_toggle_door{
  padding: .75em;
  text-align: center;
  color: #eee;
}

.btn_toggle_door.open {
  background-color: #484;
  border: 1px #494 solid;
}

.btn_toggle_door.close {
  background-color: #844;
  border: 1px #944 solid;
}

.btn_toggle_door.moving {
  background-color: #f47;
  border: 1px #494 solid;
}

.btn_toggle_door.close:hover {
  background-color: #e88;
}

.btn_toggle_door.open:hover {
  background-color: #8e8;
}

.door_btn button:hover{
  background-color: #aa6;
}

#door_group{
   height: 80%;
   border-radius: 12px;
   background-color: #fff;
   padding: 1em;   
}

.door{
  border-radius: 13px;
  background-color: #fff;
  height: 45%;
  margin: 1em 1em auto;
  border: 2px solid #5588aa;
}

.door_status{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5588aa;
  padding: 1em;
  color: #444;
  font-size:1em;
}

.door_status p{
  width: 100%;
  margin:auto;
  color: #fff;
  font-weight: bold;
}

.clearfix{
    clear:both
}
  #logout, #add_user, #exit{
    width: 8em;
    height: 2em;
    margin: auto;
    font-size: 1.75em;
    margin: 1em auto;
    display:block;
    border-radius: 10px;
  }
  p{
    text-align: center;
  }

  #door p{
    width: 60%;
    margin:auto;
  }

  #door_action{
    margin: 0 auto;
  }

  .disabled{
     background-color: #555;
     color: #999;
  } 
  .home{
    width: 90% ;
    margin: 0 auto;
  }
  table {
    margin: auto;
    border-radius: 12px;
    border: 1px solid black;
   }

  #access_log{
    font-size:.7em;
}    

  #access_log tr:nth-child(even){
     background-color: #f8f8f8;
  }

  #access_log tr:nth-child(odd){
     background-color: #a8a8a8;
  }

  #user_list tr:nth-child(even){
     background-color: #f8f8f8;
  }

  #user_list tr:nth-child(odd){
     background-color: #a8a8a8;
  }

@media only screen and (min-width: 768px) {
@media only screen and (min-width: 768px) {

  body{
	  background-color: #99F;
  }
  #door_group {
    height: 80%;
    width:80%;
    margin: auto;
    border-radius: 12px;
    background-color: #fff;
    padding: 1em;
  }
  .door_btn img{
    width:10em ;
  }
}
