{% extends "base.html" %}
{% block content %}

<div class=home>
    <h1>Add New User</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.active.label }}<br>
            {{ form.active(size=32) }}
        </p>
        <p>
            {{ form.admin.label }}<br>
            {{ form.admin(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
     <button id="exit" onclick="window.location.href='{{ url_for('main.garage') }}';">
	     Exit
     </button>
</div>    
{% endblock %}
