<html>
    <head>
		<title>Garage Pi</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='garage_automation.css') }}">
		<script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="{{url_for('static', filename='garage_automation.js')}}"></script>
		<script src="{{url_for('static', filename='socket.io.2.js')}}"></script>	
	</head>
	<body>
		<div id="content">
        {% if current_user.is_authenticated %}
            <p id="greeting">Hi {{ current_user.username }}!</p>
        {% endif %}
	<div id='flash_msg'>
	{% with messages = get_flashed_messages() %}
   		{% if messages %}
      		{% for message in messages %}
		<p>{{ message }}</p>
      		{% endfor %}
      		{% endif %}
	{% endwith %}
	</div>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
