{% extends "base.html" %}
{% block content %}

<div class=home>
	<h1>Access Activity</h1>
	<table id='access_activity'>
		<tr><th>Date/Time</th><th>User</th><th>Action</th> </tr>
	</table>
</div>    
{% endblock %}
