{% extends "base.html" %}
{% block content %}
<div id="tab-garage-doors" class="tab-content tab-garage-doors">
    <div class="home">
        <div id=door_group>
            <div class="door">
            <div class='door_status'><p>Door One is <span id="door_one_status_txt">Open</span></p>
		    <p>{{ msg }}</p>
	    </div>
                <div class='door_btn'>
                    <img src='static/images/GarageRed.gif' >
                    <form id="door_action_1" method='post' action='/garage' >
                        <input type="hidden" name="Door_no" value="1">
                        <button id="door_one" value='1' name="door_no" class="btn_toggle_door close" type="submit">Close</button>                   
                    </form>
                </div>
            <div class=clearfix></div>
            </div>
            <div class="door">
                <div class='door_status'><p>Door Two is <span id="door_two_status_txt">Closed</span></p>i
			<p> {{msg}}</p>
		</div>
                <div class='door_btn'>  
                    <img src='static/images/GarageGreen.gif' >
                    <form id="door_action_2" method='post' action='/garage' >
                        <input type="hidden" name="Door_no" value="2">
                        <button id="door_two" value='2' name="door_no" class="btn_toggle_door open" type="submit">Open</button>
                    </form>
                </div>
            <div class=clearfix></div>
            </div>
            
        </div>
        {% if current_user.is_authenticated %}
        <button id="logout" onclick="window.location.href='{{ url_for('admin.logout') }}';">
           Logout
        </button>
        {% endif %}
	{% if current_user.admin==True %}
           <button id="logout" onclick="window.location.href='{{ url_for('admin.list_users') }}';">
              Admin
           </button>
        {% endif %}
    </div>
</div>
{% endblock %}
