<!doctype html>
	
<html>
	<head>
		<title>Home Automation</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='garage_automation.css') }}">
		
		<script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
		
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="{{url_for('static', filename='garage_automation.js')}}"></script>
		<script src="{{url_for('static', filename='socket.io.2.js')}}"></script>
		
	</head>
	<body>
		<div id="tabs">
			<div id="tab-heads">
				<ul>
					<li class="tab tab-garage-doors">Garage Doors</li>
					<li class="tab tab-home">Home</li>
				</ul>
			</div>
		</div>
		
		<div id="content">
			{% include 'garage.html' %}
		
			<div id="tab-3"class="tab-content tab-garage-lights">
				HOME	
			</div>
			<div id="tab-4" class="tab-content home">
				HOME	
			</div>
		</div>
		</div>
</div>	
	</body>
	<script type="text/javascript" charset="utf-8">
			var socket = io();
			socket.on('connect', function() {
				socket.emit('my event', 'I\'m connected!');
			});
			
		</script>
</html>
