{% extends "base.html" %}
{% block content %}

<div class=home>
    <div><h1>User Management</h1>
    </div>
	<table id='user_list'>
		<tr><th>User</th><th>Active?</th><th>Admin?</th><th colspan=2>Actions</th> </tr>
		{% for user in users %}
		<tr><td>{{ user.username }}</td>
			<td>{{ user.is_active }}</td>
			<td>{{ user.admin }}</td>
			<td>Activate</td>
			<td><a href='/user/delete/{{ user.id }}'><img class='img_delete' alt="delete" title="Delete User."   src="/static/images/delete.png"></td>

		</tr>
		{% endfor %}
	</table>
	{% if current_user.is_authenticated %}
        <button id="add_user" onclick="window.location.href='{{ url_for('admin.add_user') }}';">
           Add User
        </button>
        {% endif %}
	{% if current_user.is_authenticated %}
        <button id="logout" onclick="window.location.href='{{ url_for('admin.logout') }}';">
           Logout
        </button>
        {% endif %}
	<button id="logout" onclick="window.location.href='{{ url_for('main.garage') }}';">
           Exit
        </button>
</div>    
{% endblock %}
