{% extends "base.html" %}
{% block content %}
	<h1> LOG RECORDS</h1>
	<table id='access_log'>
	<thead><th>Date/Time</tth><th>Level</th><th>Message</th></thead>
	{% for row in log %}
	<tr>
	{% for item in row %}
	<td>{{ item }}</td>
	{% endfor %}
	</tr>
	{% endfor %}
	</table>

{% endblock %}
